@page "/character/{characterID}"
@rendermode InteractiveServer
@inject IDataAccess dataAccess
@inject NavigationManager Navigation

<PageTitle>@characterID</PageTitle>

<head>
	<link rel="stylesheet" href="@Assets["characterMenu.css"]" />
</head>

<div class="mainGrid">
	<div class="headerGrid">
		<BlazorUI.Components.Basic.CharacterMenu.CharacterName Character="@character"/>
		<BlazorUI.Components.Basic.CharacterMenu.HPBox Character="@character"/>
	</div>
	<div class="bodyGrid">
		<BlazorUI.Components.Basic.CharacterMenu.AbilityScore Character="@character"/>
		<div class="proficiencies">
			<BlazorUI.Components.Basic.CharacterMenu.SavingThrows Character="@character"/>
			<BlazorUI.Components.Basic.CharacterMenu.SkillScore Character="@character"/>
		</div>
		<div class="featuresAndTraits">
			<BlazorUI.Components.Basic.CharacterMenu.GameRaceBox Character="@character"/>
			<BlazorUI.Components.Basic.CharacterMenu.GameClassBox Character="@character"/>
		</div>
	</div>
	<div class="footerGrid">
		<button @onclick="SaveCharacter">Save Character</button>
		<button @onclick="DeleteCharacter">Delete Character</button>
	</div>
</div>

@code {
	[Parameter]
	public string characterID { get; set; }
	private Core.Character character;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if(!dataAccess.GetCharacterDictionary().TryGetValue(characterID, out character))
		{
			Navigation.NavigateTo("/characterNotFound");
		}
	}

	private void DeleteCharacter()
	{
		dataAccess.DeleteCharacter(character);
		Navigation.NavigateTo("/chooseCharacterMenu");
	}

	private void SaveCharacter()
	{
		dataAccess.SaveCharacter(character);
	}
}
